<div class="car-container">
    <h2>Royal_Cass</h2>
    <div class="car-grid">
      <div class="car-card">
        <img src="https://cdn.pixabay.com/photo/2016/12/03/18/57/amg-1880381_960_720.jpg" alt="Voiture 1">
        <h3>Mercedes Sport</h3>
        <p>Rapide et robuste</p>
      </div>
      <div class="car-card">
        <img src="https://cdn.pixabay.com/photo/2015/01/19/13/51/car-604019__340.jpg" alt="Voiture">
        <h3>Audi Sport</h3>
        <p>Rapide et robuste</p>
      </div>
      <div class="car-card">
        <img src="https://cdn.pixabay.com/photo/2017/03/27/14/56/auto-2179220_960_720.jpg" alt="Voiture 3">
        <h3>AMG</h3>
        <p>Rapide et robuste</p>
      </div>
    </div>
  </div>
